.teams__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button {
        width: fit-content;
    }

    & > h3 {
        font-weight: 400;
        span {
            color: $primary-color;
            font-weight: 600;
        }
    }
}
