.navigation {
    &__links {
        margin: 0 0 0 30px;
        &-single {
            &:first-child {
                > a {
                    border-top-left-radius: 10px;
                }
            }

            &:last-child {
                > a {
                    border-bottom-left-radius: 10px;
                }
            }

            svg {
                path {
                    transition: fill, stroke ease-in-out 250ms;
                }
            }

            button,
            & > a {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 20px;
                transition: background-color, color ease-in-out 250ms;

                &:hover {
                    background-color: $l_gray_bg;
                    color: $primary-color;
                    svg {
                        path {
                            fill: $primary-color;
                        }
                    }
                }
            }

            .link--active {
                background-color: $l_gray_bg;
                color: $primary-color;
                svg {
                    path {
                        fill: $primary-color;
                    }
                }
            }

            &--messages .link--active {
                svg {
                    path {
                        fill: transparent !important;
                        stroke: $primary-color;
                    }
                }
            }
            &--messages {
                a {
                    &:hover {
                        svg {
                            path {
                                fill: transparent !important;
                                stroke: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
